.sub-title {
  color: #707987;
}

.css-1orzuox-MuiTableCell-root {
  padding: 10px !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  text-transform: "uppercase" !important;
}
